<!DOCTYPE html>
<html ng-app="main">
  <head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<script src="/js/angular.min.js"></script>
    <script src="/js/app.js" ></script>
  </head>
  <body>
    <div ng-controller="mainCtrl">
	  <ul>
		<li ng-repeat="toot in toots">
		  {{toot.username}} : <p>{{ toot.toot }}</p>
		</li>
	  </ul>
	</div>
  </body>
</html>
